# Ignore temporary files
~$*

# Ignore Python virtual environment
.venv/
venv/
env/
COMPUTING/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.vscode/
.idea/